
*{
    box-sizing: border-box  ;
    
}


.main-hero{
    min-height: 95vh;
}

.main-navbar{
    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nebula{
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}


.token-card i{
    border: 3px solid white   ;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,70,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-box-shadow:0px 0px 113px 15px rgba(171,46,255,0.28);
    -moz-box-shadow: 0px 0px 113px 15px rgba(171,46,255,0.28);
    box-shadow: 0px 0px 113px 15px rgba(171,46,255,0.28);}

